<script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>

<div id="holder">
  <label class="editable">Label</label>
</div>

<script>
	 $('#holder').on('click', "label.editable", function() { 	
 		var $lbl = $(this), o = $lbl.text(),
    	$txt = $('<input type="text" class="editable-label-text" value="'+o+'" />');
    $lbl
    .replaceWith($txt);
    $txt.focus();
    
    $txt.blur(function() {
    	$txt.replaceWith($lbl);
    })
    .keydown(function(evt){
    	if(evt.keyCode == 13) {
      	var no = $(this).val();
      	$lbl.text(no);
        $txt.replaceWith($lbl);
      }
    });
 }); 
</script>