<div class="col-md-4 offset-md-4">
  <div class="card mt-5">
    <h2 class="card-header text-center">Log in</h2>
    <div class="card-body">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in" ,class: "btn btn-primary" %>
      </div>
      <% end %>

      <%= render "users/shared/links" %>
    </div>
  </div>
</div>

