.jumbotron.jumbotron-fluid.mt-2
  .container
    h1 Online Shopping
    p Online shopping is a form of electronic commerce which allows consumers to directly buy goods or services from a seller over the Internet.
