.mr-4
  b
     Original Score:
  .ratings_container
    span.rate_img
       = imdb_style_rating_for @product, "original_score", disable_after_rate: true, imdb_avg: true 
    span.rate_score
      = number_with_precision(@product. overall_ratings(@product), precision: 1) 
    -@product.ratings.each do |ratings| 
	  = ratings.rater.first_name %> 
	  = rating_for @product, 'best' 