<div class="col-md-4 offset-md-4">
	<div class="card mt-5">
		<h2 class="card-header text-center">Forgot your password?</h2>
		<div class="card-body">
			<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
			<%= render "devise/shared/error_messages", resource: resource %>

			<div class="form-group">
				<%= f.label :email %><br />
				<%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
			</div>

			<div class="actions">
				<%= f.submit "Send me reset password instructions", class: "btn btn-primary" %>
			</div>
			<% end %>

			<%= render "users/shared/links" %>
		</div>
	</div>
</div>
