-@products.each do |product| 
	tr
	  td.ajax
	    span.text-field
	       = product.name 
	    input.edit-input[type="text" data-id="= product.id  "]
	  td
	     = product.category
	  td
	     = product.image 
	  td
	     = link_to 'show', product_path(product),class: "btn btn-warning" 
	  td
	      -if (user_signed_in? && (product.user_id == current_user.id))  
	           = link_to 'edit', edit_product_path(product),class: "btn btn-primary" 
	  td
	    = link_to 'Destroy', product_path(product), method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger" 
