= form_with model: @product, local: true do |form|  
  -if @product.errors.any? 
   #error_explanation
   h2 = "prohibited this product from being saved:"
   ul
    -@product.errors.full_messages.each do |msg|  
      li
       = msg
  
  
  .form-group
    = form.label :name
    = form.text_field :name, class: 'form-control' 
  .form-group
    = form.label :category 
    = form.select :category, options_for_select([ 'electronics', 'footwear', 'jewellery', 'books', 'fashion_acessories',"sports_good" ]),{}, :class => 'form-control',:prompt => 'Select One'
  .form-group
    = form.label :images 
    br/
    = form.file_field :images, multiple: true 
  div
      = form.submit "Create Product", class: "btn btn-primary"









