.container
  form
     = text_field_tag :search, params[:search], placeholder: "Search Products", onkeypress: "myFunction()", class: 'mr-4' 
     = select_tag(:search1, options_for_select([[ "electronics" ,0], ["footwear",1], ["jewellery",2], ["books",3], ["fashion_acessories",4],["sports_goods",5]],params[:search1]), :prompt => "Select One", onchange: "myFunction()" ) 
  .card.mt-5
    h2.card-header
       All Products
    table.table.mb-0
      tr
        th
           Name
        th
           Category
        th
           Image
        th[colspan="2"]
           Action
      tbody.data
        = render 'products/category'  
  br
  = link_to('Add product', new_product_path ,class: "btn btn-primary") 