.container
  .col-md-6.offset-md-3
    .card.mt-5
      .card-body
        .card-image.text-center
          -if @product.images.attached?   
            -@product.images.each do |image| 
             = image_tag (image)  
        .card-title.text-center
            h2
             = @product.name 
        p
            strong
              |Category:
            b
             = @product.category 
        h3
           Ratings
         	  Best = rating_for @product, 'best' 
      