.col-md-4.offset-md-4
  .card.mt-5
    h2.card-header.text-center
       Add User
    .card-body
        = form_for ([:superadmin, @user]) do |f| 
      .form-group
          = f.label :first_name 
        br
          = f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control"  
      .form-group
          = f.label :last_name 
        br
          = f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "form-control" 
      .form-group
         = f.label :email 
        br
         = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"  
      .form-group
         = f.label :password   -if @minimum_password_length 
        em
           (= @minimum_password_length  characters minimum)
          
        br
        = f.password_field :password, autocomplete: "new-password", class: "form-control" 
      .form-group
          = f.label :password_confirmation
        br
        = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"  
      .form-group
          = f.label :role 
        br
        = f.select :role, options_for_select([ 'superadmin', 'admin', 'user' ]), {}, :class => 'form-control',:include_blank => 'Select One'  
      .actions
        = f.submit "create user" , class: "btn btn-primary" 
    