.container
  = link_to 'Add User', new_superadmin_user_path, class: 'btn btn-primary'  
  .card.mt-4
    h1.card-header
    | All users
    table.table.table-bordered.mb-0
      tr
        th
           First Name
        th
           Last Name
        th
           Email
        th[colspan="2"]
           Action
         -@users.each do |user| 
      tr
        td
          = user.first_name
        td
          = user.last_name 
        td
          = user.email 
        td
          = link_to 'Edit', edit_superadmin_user_path(user) 
        td
          = link_to 'Destroy', superadmin_user_path(user) ,method: :delete, data: { confirm: 'Are you sure?' } 
    