doctype html
html
  head
    title OnlineStore
    = csrf_meta_tags 
    = csp_meta_tag 
    
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' 
    script crossorigin="anonymous" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" src="https://code.jquery.com/jquery-3.4.1.js" 
  body
    = render 'layouts/header' 
    = yield
  = javascript_include_tag 'application', 'data-turbolinks-track': 'false' 
